{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | Fundi{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock head %}

{% block contents %}
<div class="category-page">
    <div class="container">

        <!-- Breadcrumb -->
        <div class="category-breadcrumb">
            <a href="{% url 'home_app:home' %}">Home</a>
            <i class="bi bi-chevron-right"></i>
            <span>About Us</span>
        </div>

        <!-- Header Section -->
        <header class="category-header">
            <h1 class="category-title">About Fundi</h1>
        </header>
    </div>
</div>

<!-- ABOUT -->
<section id="about">
    <div class="abt-grid">
      <div class="rv-l">
        <div style="position:relative;display:inline-block;width:100%">
          <img class="abt-img" src="{% static 'img/logo2.png' %}" alt="Garage Zero Logo" loading="lazy" />
        </div>
        <div class="abt-stats">
          <div class="as">
            <div class="as-n">10+</div>
            <div class="as-l">Years in industry</div>
          </div>
          <div class="as">
            <div class="as-n">50+</div>
            <div class="as-l">Our Team</div>
          </div>
          <div class="as">
            <div class="as-n">100+</div>
            <div class="as-l">Our Partners</div>
          </div>
        </div>
      </div>
      <div class="rv-r">
        <h2 class="sh">About <span>Fundi</span><br></h2>
        <div class="abt-text">
          <p>Fundi bridges the gap between aesthetic vision and reliable property maintenance. We serve clients
             in Nairobi and surrounding areas. We provide end-to-end interior transformations, eliminating the
              stress of coordinating between separate designers and contractors.</p>
              
          <p> Our in-house team includes licensed professionals, creative designers, and certified 
            handymen who turn design concepts into beautiful, functional realities.
          </p>
        </div>
        <div class="abt-addr">
          <div class="aa-lbl">Get in Touch</div>
          <div class="aa-txt">
            📍 Call us today!
            📞 <a href="tel:+254796599420">0796-599-420</a> &nbsp;·&nbsp;
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>


    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock contents %}

