{% extends 'base.html' %}
{% load static %}

{% block title %}Our Services | Fundi{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock head %}

{% block contents %}
<div class="category-page">
    <div class="container">

        <!-- Breadcrumb -->
        <div class="category-breadcrumb">
            <a href="{% url 'home_app:home' %}">Home</a>
            <i class="bi bi-chevron-right"></i>
            <span>Our Services</span>
        </div>

        <!-- Header Section -->
        <header class="category-header">
            <h1 class="category-title">Our Services</h1>
        </header>

        

    </div>
</div>


    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock contents %}

